<h1>Edit Your Item:</h1></br>
<%= form_for @grocery do |f| %>

 <I><%= label_tag(:item, "Item:") %></I>
  <%= f.text_field :item , :class => "form-control" %></br>

  <I><%= label_tag(:details, "Details:") %></I>
  <%= f.text_area :details , :class => "form-control" %></br>

  <%= f.submit "Update", :class => "btn btn-primary btn-default" %>
<% end %>
